*.iml
target/
.idea/
**/*.iml
.classpath
.project
.apt_generated/
.settings/
events/
.factorypath
**/xtend-gen/
**/xtext-gen/
**/VAADIN/widgetsets/
**/VAADIN/themes/**/addons.scss
generated/
*/VAADIN/*styles.css
WebContent/
.vaadin-designer2
